<form method="post" action="/person/add">
    <label>Name</label> <br>
    <input type="text" name="person_name">
    <input type="submit" value="Submit">

</form>

<form method="post" action="/friend/add">
    <label>Name 1</label> <br>
    <input type="text" name="person_one_name"> <br>
    <label>Name 2</label> <br>
    <input type="text" name="person_two_name">
    <input type="submit" value="Submit">

</form>


<ul>
<% people.forEach(function (person){ %>
    <%if (person.name !== undefined) { %>
        <li><%= person.name %></li>
    <% } %>
<% }) %>
</ul>
